<div class="header-container">
  <div class="flex items-center">
      <mat-icon
        (click)="handleStartMazeMapping()"
        class="play-icon">
        <span class="material-symbols-outlined">
          play_arrow
        </span>
      </mat-icon>
      <mat-icon
        (click)="handleStopMazeMapping()"
        class="stop-icon">
        <span class="material-symbols-outlined">
          cancel
        </span>
      </mat-icon>
    <div class="header-title">Hard and Soft 2025</div>
  </div>
  <app-connection-status [status]="isConnected"></app-connection-status>
</div>
