.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--components-background);
  border-radius: 0.5rem;
  height: 5rem;

  padding: 1.5rem;
  margin-bottom: 1rem;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: var(--text-xlarge);
  color: var(--text-color);
  font-weight: 500;
  margin-left: 1rem;
  display: none;
}

.play-icon {
  transform: scale(1.8);
  color: var(--background-accent);
  margin-right: 1rem;
  cursor: default;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: var(--background-accent-hover-color);
    cursor: pointer;
  }
}

.stop-icon {
  transform: scale(1.4);
  color: var(--error-color);
  margin-right: 1rem;
  cursor: default;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: var(--error-hover-color);
    cursor: pointer;
  }
}

@media (min-width: 640px) {
  .header-title {
    display: block;
  }
}
