.panel-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 80rem;
}

.left-panel {
  flex: 2.2;
}

.right-panel {
  flex: 1;
}

.left-panel {

  .point-cloud-panel {
    flex: 1;
  }
  .camera-panel {
    width: 100%;
    aspect-ratio: 960/540;
  }
}

.right-panel {
  .status-panel {
    height: 15rem;
  }
  .log-panel {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .panel-container {
    flex-direction: column;
  }

  .left-panel, .right-panel {
    width: 100%;
  }

  .point-cloud-panel {
    height: 35rem;
    flex: 0 1 auto;
  }

  .log-panel {
    height: 55rem;
    flex: 0 1 auto;
  }
}

