.log-container {
  padding: 1rem;
  margin-right: 0.2rem;
  overflow: auto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Webkit Browsers */
.log-container::-webkit-scrollbar {
  width: 12px;
}

.log-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.log-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.log-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Edge and IE */
.log-container {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
