.sensor-title {
  font-size: var(--text-large);
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.sensor-information {

}

.sensor-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sensor-entry {
  display: flex;
  align-items: center;
}

.sensor-label {
  font-weight: 500;
  color: var(--text-secondary);
}

.sensor-value {
  color: var(--text-color);
}

.sensor-icon {
  transform: scale(1.4);
  color: var(--success-color);
  margin-right: 0.5rem;
}

.battery-icon {

}

.vibration-icon {
  transform: scale(1.4);
  color: var(--success-color);
}

.magnetic-icon {
  transform: scale(1.4);
  color: var(--success-color);
}


.distance-icon {
  transform: scale(1.4);
  color: var(--success-color);
}

